body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.confetti-container {
  position: relative;
  z-index: 1000;
}

.todo-image-1 {
  width: 100%;
  border-radius: 10px;
}

.filters-container {
  display: flex;
  gap: 10px;
  margin: 15px 5px;
  position: relative;
  width: inherit;
}

.flex-wrap{
  flex-wrap: wrap;
}

.bg-purple{
  background-color: purple;
  color:white
}

.flex-btns{
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: center;
}


.icon {
  border: none;
  background-color: transparent;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.bg-orange{
  background-color: orange;
  color: white;
}

.code-vault-hero {
  margin-top: 80px;
  padding: 10px;
  padding-bottom: 70px;
  overflow-y: auto;

}


.grid-data-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 10px;
}

.grid-data {
  background-color: lavender;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 1s ease;
  margin: 2px;
}

.highlighter {
  width: 100%;
}


.flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
}

.flex-layout-image {
  width: 100%;
}

.flex-layout-error {
  font-size: clamp(18px, 10vw, 26px);
  font-weight: 600;
  font-style: italic;
  color: red;
}

.filters-layout {
  margin: 15px 0px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px
}

.remove-filters-button {
  width: 100%;
  background-color: black;
  color: white;
  outline: none;
  height: 40px;
}

@media screen and (min-width:768px) {

  .grid-data-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .flex-layout-image {
    width: 50%;
  }

  .filters-layout {
    grid-template-columns: repeat(3, 1fr);
  }

  .code-vault-hero {
    margin-left: 245px;
  }
}

.data-heading {
  font-size: 20px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.popup-layout {
  padding: 10px;
}

.center {
  text-align: center;
}


.popup-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 0px;
  background-color: orange;
  cursor: pointer;
  transition: all 0.5s ease;
}

.popup-button:hover {
  transform: scale(1.02);
}

.bg-black {
  background-color: black;
  color: white;
}

.logout-button {
  background-color: red;
  color: white
}

.flex-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkbox{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.flex-checkbox{
  display: flex;
  gap:10px;
  align-items: center;
}