

.popup-overlay {
  background: rgba(0, 0, 0, 0.55);
  z-index: 3000;
}

.popup-content {
  border-radius: 8px;
  padding: 0;
  width: 90%;
  max-width: 380px;
}


.popup{
    padding:10px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}