.small-device-icon {
    display: block;
}



.remove-styling {
    text-decoration: none;
}

.dashboard {
    display: none;
}

.todo-logo-1 {
    width: 80px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s ease all;
}

.todo-logo-1:hover {
    transform: scale(1.1);
}

.username-heading {
    font-size: 20px;
    font-weight: bold;
}

/* dont remove this username-heading */
/* .username-heading {
    font-size: 24px;
    font-weight: bold;
    background-image: url("https://res.cloudinary.com/dq4yjeejc/image/upload/v1753527568/Screenshot_2025-07-26_162915_eurno4.png");
    background-size: cover;
    background-position: center;
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;

} */

.light-mode {
    color: black;
    cursor: pointer;
    transition: 0.6s all ease;
}

.light-mode:hover {
    transform: scale(1.2);
}

.navigation-heading {
    cursor: pointer;
}

.navigation-heading:hover {
    color: magenta;
}


.menu-item {
    display: block;
}

.desktop-only {
    display: none;
}

#avatar{
    width: 65px;
    height: 65px;
}

@media screen and (min-width:768px) {

    .desktop-only {
        display: block;
    }

    .menu-item {
        display: none;
    }

    .todo-logo-1 {
        width: 90px;
        height: 70px;
    }

    .close-button {
        width: 120px;
    }

    .dashboard {
        display: block;
    }

    .small-device-icon {
        display: none;
    }

    .username-heading {
        font-size: 30px;
    }
}