.hero {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    min-height: clamp(60vh, 70vh, 80vh);
}


.hero-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.hero-content{
    text-align: center;
}

.heading {
    font-size: clamp(1.2rem, 8vw, 2.5rem);
    /* scales with screen */
    font-weight: 700;
    line-height: 1.2;
    color: #111827;
    margin: 0 0 10px 0;
}

.content {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    /* scales with screen */
    line-height: 1.6;
    /* good readability */
    font-weight: 400;
    color: #374151;
    /* nice dark gray for text */
    margin: 0 0 10px 0;

}

.button-center {
    text-align: center;
}

.hero-button {
    background: linear-gradient(90deg, #2563EB, #3B82F6);
    color: #fff;

}

@media screen and (min-width:768px) {
    .hero {
        flex-direction: row;
    }
}