
.side-menu {
  position: fixed;
  top: 0;
  right: -300px; /* hide outside screen */
  width: 250px;
  height: 100vh;
  background-color: lavender;
  color: orange;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  z-index: 999;
  box-shadow: 0px 0px 5px white;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap:10px;
}

.side-menu.show {
  left: 70px; /* slide in */
}

/* .cross-icon{
  position:absolute;
  top:10px;
  right:10px
} */

.cross-icon {
  text-align: right;
  margin-top: 10px;
}


.link-item{
  text-decoration: none;
}

.nav-item{
  display: flex;
  align-items: center;
  gap:10px;
  cursor: pointer;
}

.menu-text{
  font-size: 18px;
}

.menu-container {
  flex: 1; /* take remaining height */
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}

@media screen and (min-width:768px){
  .side-menu{
    display: none;
  }
}