
.side-menu {
  position: fixed;
  top: 0;
  right: -300px; /* hide outside screen */
  width: 250px;
  height: 100vh;
  background-color: lavender;
  color: orange;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  z-index: 999;
  box-shadow: 0px 0px 5px white;
  /* display: block; */
}

.side-menu.show {
  left: 70px; /* slide in */
}

.cross-icon{
  text-align: right;
}


.link-item{
  text-decoration: none;
}

.nav-item{
  display: flex;
  align-items: center;
  gap:10px;
  cursor: pointer;
}

@media screen and (min-width:768px){
  .side-menu{
    display: none;
  }
}