

  .navigation-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .navigation-content{
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
  }

  