
.flex-login-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    gap:10px;
}
@media screen and (min-width:768px){
    .flex-login-layout{
        flex-direction: row;
    }
    .hero-img-container{
        width: 50%;
    }
}

.input-wrapper{
    position: relative
}

.label{
    font-size: clamp(0.85rem,8vw,1.1rem);
    color: #6B21A8;
    position: absolute;
    left:12px;
    top:14px;
    pointer-events: none;
    transition: 0.6s;
    padding: 0 6px;
    outline: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: white;
}

.input-element{
    color:#6B21A8;
    background-color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline: none !important;
    width: 100%;
    height: 50px;
    padding: 6px;
    border-width: 0px;
    border: 1px solid #6B21A8;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-element:focus+.label,
.input-element:valid+.label{
    top:-14px;
}

.eye-icon {
  position: absolute;
  right:10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6B21A8; 
}

form{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
}

.vault-heading{
    color:orange
}


.link{
    text-decoration: none;
    color:dodgerblue;
    font-size: 20px;
    font-weight: 600;
}

.loading-button{
    width: 100%;
    background-color: #6B21A8;
    color:white
}