@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&family=Courier+Prime&display=swap');

* {
  box-sizing: border-box;
}
/* * {
  outline: 1px solid red;
} */


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.under-working {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: red;
  padding: 4px;
  margin: 4px;
}

.error-msg {
  font-size: 24px;
  font-weight: bold;
  color: red
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

aside {
  display: none;
}

aside hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 12px 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap:10px;
  align-items: center;
  justify-content: space-between;
  background: #3167A8;
  color:black;
  padding: 6px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.flex-wrapper{
  display: flex;
  gap:10px;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 5px;
  border-radius: 6px;
}

.flex-wrapper:hover{
  transform: scale(1.01);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

  
}

@media screen and (min-width:768px) {
  aside {
    position: fixed;
    top: 75px;
    left: 0;
    width: 245px;
    height: calc(100vh - 56px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 15px 6px 25px 6px;
    background: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 900;

    overflow-y: auto;

    scrollbar-width: none;
  }

  footer{
    display: none;
  }
}